*{
    margin: 0;
    padding: 0;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
#jm:hover{
    color: white;
}
.co{
   padding-top: 228px;
   
   
    
}
.fot_perfil{
    height: 150px;
    opacity: 0.6;
    border-radius: 160px;
    width: 20%;
    height: 80%;
    padding: 15px;
}
.i{
  padding-left: 150px;
}

#q{
  color: white;
}

.c{
  padding-left: 470px;
  margin-top: -187px;
}
.con{
  display: flex;
   justify-content: space-between;
  
}
.info{
  
  
  width: 40%;
}
.tecnologias{
  width: 40%;
}

.tec{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding-top: 15px;
  
 
}
.d{
  
  padding-left: 15px;
}
.w{
  padding-left: 2px;
}
.j{
  padding-left: 1px;
}
.g{
  padding-left: 18px;
}
.cards {
  width: 350px;
  height: 284px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  
  border: 2px solid #4f4f4f;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .cards-details {
   color: white;
    height: 100%;
 }
 
 .card-buttons {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #86868B;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .card-buttons:hover{
   background-color: white;
   color: #86868B;
 }
 
 .text-bodys {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-titles {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .cards:hover {
  border-color: black;
  box-shadow: 8px 5px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .cards:hover .card-buttons {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
.proyecct1{
  background-image: url('../img/modif_proyect1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  height: 100%;
  
}
.a{
  color: white;
  text-decoration: none;
}
.a:hover{
  text-decoration: none;
  color: white;
}
/*modal*/
.flex{
  display: flex;
  
  
}
.cafe{
  background-image: url('../img/cafe.webp');
  background-size: cover;
  width: 100%;
  height: 250px;

  
}

.info1{
   width: 62%;
}
.s{
  padding-top: 5px;
}
.fl{
  display: flex;
  
}
.htm,.cs{
  opacity: 1;
  background-color:lightgray;
  padding: 5px;
  border-radius: 10px;
  color: black  ;
}
.CS{
  padding-left: 10px;
}
.ja{
  padding-left: 10px;
}
.bt{
  text-decoration: none;
  background-color: #86868B;
  color: white;
  padding: 12px;
  border-radius: 50px;
}
.bt:hover{
  
  color: white;
}
.csd{
 
  height: 650px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 
  
}


.proyec2{
  background-image: url('../img/calc.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  height: 100%;
}
.calculadora{
  background-image: url('../img/calc.webp');
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 290px;
  border-radius: 9px;

  
}
.info2{
  width: 62%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.hanilidades{
 padding-top: 35px;
}
.text{
  
  text-align: center;
}