*{
    margin: 0;
    padding: 0;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
#jm:hover{
    color: white;
}
.co{
   padding-top: 228px;
   
   
    
}
.fot_perfil{
    height: 150px;
    opacity: 0.6;
    border-radius: 160px;
    width: 20%;
    height: 80%;
    padding: 15px;
}
.i{
  padding-left: 150px;
}

#q{
  color: white;
}

.c{
  padding-left: 470px;
  margin-top: -187px;
}
.con{
  display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  
}
.info{
  
  
  width: 40%;
}
.tecnologias{
  width: 40%;
}

.tec{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding-top: 15px;
  
 
}
.d{
  
  padding-left: 15px;
}
.w{
  padding-left: 2px;
}
.j{
  padding-left: 1px;
}
.g{
  padding-left: 18px;
}
.cards {
  width: 350px;
  height: 284px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  
  border: 2px solid #4f4f4f;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .cards-details {
   color: white;
    height: 100%;
 }
 
 .card-buttons {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #86868B;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .card-buttons:hover{
   background-color: white;
   color: #86868B;
 }
 
 .text-bodys {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-titles {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .cards:hover {
  border-color: black;
  box-shadow: 8px 5px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .cards:hover .card-buttons {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
.proyecct1{
  background-image: url('../img/modif_proyect1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  height: 100%;
  
}
.a{
  color: white;
  text-decoration: none;
}
.a:hover{
  text-decoration: none;
  color: white;
}
/*modal*/
.flex{
  display: flex;
  
  
}
.cafe{
  background-image: url('../img/cafe.webp');
  background-size: cover;
  width: 100%;
  height: 250px;

  
}

.info1{
   width: 62%;
}
.s{
  padding-top: 5px;
}
.fl{
  display: flex;
  
}
.htm,.cs{
  opacity: 1;
  background-color:lightgray;
  padding: 5px;
  border-radius: 10px;
  color: black  ;
}
.CS{
  padding-left: 10px;
}
.ja{
  padding-left: 10px;
}
.bt{
  text-decoration: none;
  background-color: #86868B;
  color: white;
  padding: 12px;
  border-radius: 50px;
}
.bt:hover{
  
  color: white;
}
.csd{
 
  height: 650px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 
  
}


.proyec2{
  background-image: url('../img/calc.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  height: 100%;
}
.calculadora{
  background-image: url('../img/calc.webp');
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 290px;
  border-radius: 9px;

  
}
.info2{
  width: 62%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.hanilidades{
 padding-top: 35px;
}
.text{
  
  text-align: center;
}

#principal{
  display: flex;
  justify-content: space-between;
}

.dos{
  width: 600px;
}
.fon{
  width: 100%;
  height: 100%;
  background-color: black;
  
 
}
.te{
  text-align: center;
  height: 100%;
  padding: 85px;
  color: white;
}
/*acorredion*/
.accordion {
  margin: auto;
  width: 800px;
}
#uno{
  margin-right: 45px;
}
#dos{
  margin-right: 45px;
}
.accordion input {
  display: none;
}
.box {
  position: relative;
  background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}
.box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.box {
  background: #86868B;
  z-index: 100;
  cursor: initial;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
  margin: 0;
  font-weight: normal;
  font-size: 16pt;
  color: white;
  cursor: initial;
}
.box-title {
  width: calc(100% - 40px);
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
  width: calc(100% - 40px);
  padding: 30px 20px;
  font-size: 11pt;
  color: rgba(0,0,0,.54);
  display: none;
}
.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
input:checked + .box {
  height: auto;
  margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}
.arrows section .box-title {
  padding-left: 44px;
  width: calc(100% - 64px);
}
.arrows section .box-title:before {
  position: absolute;
  display: block;
  content: '\203a';
  font-size: 18pt;
  left: 20px;
  top: -2px;
  transition: transform .15s ease-in-out;
  color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
  transform: rotate(90deg);
}
/*formulario*/

.for{
  width: 100%;
  
  
  
}
.formulario{
  color: black;
  border:1px solid #86868B ;
  padding: 65px;
  width: 60%;
  min-height:550px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5%;
 

}

.apes,.asu,.em,.corr,.texta{
  padding-top: 10px;
}
.ape{
  padding: 6px;
  border-radius: 7px;
  border:1px solid #86868B;
  min-width: 305px;
 
}


.asuntos{
  padding: 6px;
  border-radius: 7px;
  border:1px solid #86868B;
  min-width: 315px;
}


.asunto,.correo{
  padding-left: 25px;
}
.empre,.ele{
  padding: 6px;
  border-radius: 7px;
  border:1px solid #86868B;
  min-width: 310px;
}




.area{
  border:1px solid #86868B;
  min-width: 645px;
  border-radius: 10px;
  padding: 15px;
  
}



.enviar{
  border: none;
  width: 100%;
  background-color: #86868B;
  color: white;
  border-radius: 10px;
  padding: 8px;
  transition: 0.8s ease-in-out;
}
.enviar:hover{
  background-color: white;
  color: #86868B;
  transition: 0.8s ease-in-out;
  border: 1px solid;
  border-color: #86868B;
}
.btns{
  width: 100%;
  padding-top: 15px;
}
.formulario{
  margin: 0 auto;
}


/*efecto scroool*/
.animado{
  opacity: 0;
  transition: all 0.5s;
}


.mostraanimado{
  animation: mostrararrriba 1s;
}
@keyframes mostrararrriba {
  0%{
    transform: translateY(84px);
  }
  100%{
    transform: translateY(0);
  }
}
/*resposni*/
@media (max-width:450px) {
  /*header*/
  #intro{
    max-height: 490px;
  }
  .co{
    padding: 0;
    padding-top: 90px;
  }
  .i{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100px;
    
  }
  .so{
    
    text-align: center;
  }
  
  .fot_perfil{
    width: 40%;
    
    
  }
  .c{
    padding: 0;
    margin: 0;
    padding-top: 80px;
    text-align: center;
    
    
  }
  #maquina{
    font-size: 1.2rem;
  }
  .pa{
    font-size: 15px;
    
  }
  /******/
  
  /*contendeor uno habilidades y quien soy**/
  .info{
    width: 100%;
    padding: 6px;
  }
  .tecnologias{
    width: 100%;
    padding-top: 38px;
  }
  .bt{
    padding: 10px;
    font-size: 14px;
  }
  #sws{
   
  
   text-align: center;
  } 

  /*cards*/
  .csd{
    
    height: 100%;
   
    
  }
 
  
  .lox{
    width: 100%;
  }
  .qwssx{
  
    width: 100%;
    padding-top: 45px;
  }
  .cards{
    width: 100%;
  }
  #animado{
    opacity: 1;
  }

  
}